#header{
	width: 100%;
	margin-bottom: 20px;
}

#home-logo{
	display: inline;
	left: 15%;
	top: -32px;
	position: relative;
}

#search-box {
position: relative;
width: 50%;
margin: 0 auto;
min-width: 60%;
}

#search-form 
{
height: 30px;
/*border: 1px solid #999;*/
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}
#search-text 
{
color: #000;
/*border-width: 0;*/
/*background: transparent;*/
}
#search-box input[type="text"]
{
width: 100%;
padding: 5px 0 5px 1em;
/*color: #333;*/
outline: none;
font-size: 14px;
}

#search-button {
position: absolute;
top: 0;
right: 0;
height: 30px;
width: 80px;
font-size: 14px;
color: #fff;
text-align: center;
line-height: 30px;
border-width: 0;
background-color: #cc181e;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
}

#foot_links{
	float: right;
	min-width: 30px;
	margin: 5px 5px;
}

.submit-link{
		margin: 10px 5px;
}

#container{
	width: 100%;
}
#content{
	margin-top:30px;
	margin-bottom:20px;
	width: 88%;
	float: right;
	/*border:1px solid red;*/
}

.search_video_item{
	margin: 10px 5px 10px 0;
	width: 80%;
	/*background-color: #000!important;  */
	display: inline-block;
}
.search_video_item img {
	border:0;
	float: left;
	display: block;
	margin: 2px 10px 2px 5px;
}
.search_desc{
  width: 70%;
}
.search_vcount{
	margin-top: 10px;
}

.moreLable{
	color:#fff;
	width: 175px;
	padding: 5px 10px;
	background-color: #cc181e;
}

.vid_box{
	width: 200px;
	height: 220px;
	/*border: 1px solid black;*/
	float: left;
	margin: 0 0 10px 10px;
	padding: 5px 10px 15px 10px;
}

.vid_box a.vid_link{
   color: #167ac6;
   text-decoration: none;
   font-weight: 500;
   font-family: Roboto,arial,sans-serif;
}

a.vid_link:hover, a.vid_link:focus{
  text-decoration: underline;
}

a.vid_ch_title{
	color:#767676;
	text-decoration: none;
	font-size: 14px;
}
a.vid_ch_title:hover, a.vid_ch_title:focus{
  color: #167ac6;
  text-decoration: underline;
}

.vid_ch_title_div{
	margin-top: -10px;
	margin-bottom: 5px;
}

span.vid_date{
	color:#767676;
	/*color: #333;*/
	font-size: 12px;
	float: right;
	margin-right:15px; 
	margin-top:3px; 
}



.tb_stat{
	width:100%;
	/*border: 1px solid black;*/
	border-collapse: collapse;
}

.stat_tr{
	/*border: 1px solid black;*/
}

.stat_td{
	/*border: 1px solid black;*/
	/*background-color: pink;*/
	/*text-align: center;*/
	margin-left: 5px;
}

.vid_v_ico{
	background-image: url("view.png");
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.vid_like_ico{
	background-image: url("like.png");
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 2px;

}

.vid_comm_ico{
	background-image: url("comment.png");
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.vid_dur{
	z-index: 1;
    top: -22px;
    right: 5px;
    position: relative;
    float: right;
    padding: 0 4px;
    font-weight: 700;
    font-size: 12px;
    background-color: #000;
    color: #fff!important;
    height: 14px;
    line-height: 14px;
    opacity: .8;
}

.youtubevideowrap {
	width:100%;
	max-width: 640px;
	margin: 0 auto;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#sorter{
	float: right;
}
#sorter a,  #sorter a:visited{
	color:#000;
	text-decoration: none;
	width: 20px;
	padding: 2px 5px;
}
#sorter a:hover, #sorter a:active {
	text-decoration: underline;
	background-color: #EDEDED;
	color: #000!important;
}
#sorter a.std {
  background-color: #000!important;
  color: #fff!important;
   opacity: .75;
}


#loadMore{
	color: #fff!important;
	height: 14px;
    line-height: 14px;
    opacity: .8;
    background-color: #000;
    padding: 5px 10px;
    float: right;

}

.clear{
	clear: both;
	margin: 0;
	padding: 0;
}

#pag_link {
	/*margin: 10px auto;*/
	float: right;
	width: 100px;
}

#leftbar{
	float: left;
	width: 12%;
	/*border:1px solid grey;
	margin-top:30px;*/
}
/* The side navigation menu */
.sidenav {
    width: 12%; /* 0 width - change this with JavaScript */
    height: 100%;
    position: fixed;  
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    /*overflow-x: hidden;*/
    padding-top: 60px; /* Place content 60px from the top */
    padding-bottom: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 7px 10px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    border: 1px solid #5f5f5f;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/*/* On smaller screens, where height is less than 720, change the style of the sidenav (less padding and a smaller font size) */

@media only screen and (max-width: 1024px) and (max-height: 720px){

	#leftbar{
    	width: 12%;
    }
     #content{
    	width: 88%;
    }

	  .sidenav {
    	padding-top: 30px;
    }

      .sidenav a {font-size: 12px;}
}

/* for iphone 6/7 plus*/


@media only screen and (max-height: 738px) and (max-width: 416px) {
	.sidenav {
    	/*display: none;*/
    	width: 20%;
    }
    .sidenav a {
    	font-size: 9px;
    padding-left: 8px;
		}

    #leftbar{
    	width: 25%;
    }
     #content{
    	width: 75%;
    }

	#search-box {
    	width: 80%;
    	margin-left: 20%;
    }
	#search-button {
    	width: 40px;
    	font-size: 8px;
    }
    #home-logo{
		display: none;
	}
	#loadMore{
		font-size: 10px;
	}

}

/* for iphone 6/7 plus ---end */


/* for phones below 360x640 */


@media only screen and (max-height: 639px) and (max-width: 359px) {

	#home-logo{
		display: none;
	}

    #leftbar{
    	display: none;
     }
     #content{
    	width: 90%;
    }
    #search-box {
    	width: 90%;
    	margin: 0;
    }
    #search-button {
    	width: 50px;
    	font-size: 10px;

    }
    #loadMore{
		font-size: 10px;
	}


}

@media only screen and (height: 640px) and (max-width: 360px) {

	#home-logo{
		display: none;
	}

    
     .sidenav {
    	/*display: none;*/
    	width: 20%;
    }
    .sidenav a {font-size: 10px;}

    #leftbar{
    	width: 25%;
    }
     #content{
    	width: 75%;
    }

}







/*@media only screen and (max-width: 767px) {
   .sidenav a {font-size: 10px;}
}
@media only screen and (max-width: 420px){
   .sidenav a {font-size: 8px;}
}*/

#footer{
 width:88%;
 margin-top:30px;
 min-height:120px;
 border:1px solid black;
 float: right;
}

#pvcount{
	max-width: 200px;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
	display: inline-block;
}

#logo{
	max-width: 200px;
	height: 100%;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
}